*{
  margin: 0px;
  padding: 0px;
  font-size: 16px;
}

body {
  background-color: #f5f5f5;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  color: white;
  font-size: 3rem;
}
h2 {
  color: #2e6ee6;
  font-size: 2rem;
  padding: 16px;
}

nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;

  position: fixed;

  width: 100%;
  padding-top: 1%;
  
  background-color: #2e6ee6;
}

.menu{
  display: flex;
  flex-direction: row;
  width: 100%;
}

ul{
  display: flex;
  justify-content: start;
  width: 100%;
  
  list-style-type:none;
}

li{
  margin: 1%;
}

.menu #b-pendentes{
  margin: 1%;
  margin-right: 2%;
  border-radius:100px 100px 5px 5px;
  background-color: rgba(255, 0, 0, 0.532);
}

.navbutton:hover{
  background-color: #194eb2;
}

button {
  border: none;
  border-radius: 5px;

  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 600;

  padding: 12px 24px;

  color: #fff;
  background-color: #2e6ee6;
  transition: background-color 0.9s ease;
}

button:hover {
background-color: #5cb85c;
box-shadow: 3px 3px 10px 1px grey ;
}


/* Estilos para telas menores que 768px */
@media (max-width: 1000px) {
  .p-aluno div, .p-livro div, .p-emprestimo div{
    width: 100%;
  }
}

/* Estilos para telas maiores ou iguais a 768px */
@media (min-width: 1000px) {
  .p-aluno div, .p-livro div, .p-emprestimo div{
    width: 48%;
  }
}

/* Estilos para telas menores que 768px */
@media (max-width: 1000px) {
  .p-pendentes div{
    width: 100%;
  }
}

/* Estilos para telas maiores ou iguais a 768px */
@media (min-width: 1000px) {
  .p-pendentes div{
    width: 100%;
  }
}

.p-aluno, .p-livro, .p-emprestimo, .p-pendentes{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  margin-top: 151px;

  width: 100%;
  background-color: #d0cece;
}

.fundo-card{
  width: 48%;
  margin: 1%;
  border-radius: 5px;
  background-color: #ffffff;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.fundo-card:hover{
  box-shadow: 5px 7px 10px 1px grey ;
}

.form-clean{
  display: flex;
  flex-direction: column;
  
  width: 94%;
  padding: 3%;
  height: 100%;
  background-color: rgba(51, 107, 153, 0.068);
}


.form-clean label{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.form-clean input,select{
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;

  border: 1px solid #ccc;
  border-color:#3333333f;
  border-radius: 5px;

  padding: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;  
}

.form-clean input:hover,select:hover{
  box-shadow: 3px 3px 10px 1px grey;
}

.form-clean input:focus, select:focus{
  outline: 0;
  box-shadow: 3px 3px 10px 1px grey;
}
input:invalid {
  background-color: rgba(255, 0, 0, 0.373);
  transition: background-color 0.1s step-end;
}


.form-clean button{
  width: 75%;
  margin: 0 auto;
}


.form-clean-pendentes{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  
  width: 94%;
  padding: 0%;
  padding-left: 3%;
  height: 100%;

  border-radius: 5px;
  background-color: rgba(51, 107, 153, 0.068);

}

.form-clean-pendentes select, input{
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;

  border: 1px solid #ccc;
  border-color:#3333333f;
  border-radius: 5px;

  padding: 0.5rem;
  margin: 0;
  font-size: 1rem;  
}


.indicador-resultado-buscar-livro{
  display: flex;
  align-self: center;
  justify-content: space-between;

  text-align: center;
}
.indicador-resultado-buscar-livro li{
  width: 100%;
  background-color: aliceblue;
  border-bottom: 1px solid black;
  
}
.resultado-buscar-livro{
  display: flex;
  align-self: center;
  justify-content: space-between;
}

.resultado-buscar-livro li{
  width: 100%;
  height: 2rem;
  font-size: 1.5rem;
  overflow: scroll;

  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; 
  -webkit-box-orient: vertical; 

  background-color: rgb(255, 255, 255);
}


.resultado-form{
  min-width: 94%;
  max-width: 94%;
  padding: 3%;

  height: 100%;
  
  border-radius: 0px 0px 5px 5px;
  background-color: rgba(51, 107, 153, 0.068);
}

.resltado-form-limite{
  max-height: 400px;
  overflow-y: scroll;
}

.resultado-em-lista p {
  width: 90%;
  height: 2rem;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;

  font-size: 1.2rem;
  text-align: start;
  border-radius: 5px;
  margin: 1px;
  
  background-color: rgba(119, 118, 120, 0.109);
}

footer{
  color: #a6a2a2;
}

.hidden{
  display: none;
}